
body{
    background-color: rgb(32,32,32);
}

button{
    padding: 10px 10px;
    background-color:crimson;
    color: black;
    border: 5px solid grey;
    box-shadow: grey;
    border-radius: 8px;
}
button:hover{
    text-decoration: transparent;
    cursor: pointer;
}


h1{
    outline: ridge;
    color:grey;
    text-decoration-color: crimson;
    font-size: large;
    text-decoration: underline;
    border: 10px;
    border-radius: 8px;

}